keyframes popin {
  from {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }
  
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-1);
  }
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.knight {
  display: flex;
  flex: 1;
}

.attack-flow.header {
  background-color: #273845
}

.attack-damage {
  color: white;
}

.attack-flow .weapon,
.attack-flow .knight-name,
.attack-stage,
.attack-damage {
  padding: 1em;
}

.attack-flow .knight-name {
  color: #FFC134;
}

.knight-form {
  flex: 1;
  min-width: 340px;
}

.knight-stats {
  flex: 2;
}

.knight-form, .knight-stats, .events {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1em;
  color: #5999A6;
  background-color: #1E272E;
  box-sizing: border-box;
}

.knight-formm, .knight-stats {
  padding: 1em;
}

.You .knight-form {
  margin-right: 0;
}

.Opponent .knight-form {
  margin-left: 0;
}

.events {
  margin-left: 0;
  margin-right: 0;
  flex: 1;
  min-width: 240px;
}

.divisor {
  border-bottom: thin solid white;
  opacity: 0.7;
}

.hdivisor {
  border-left: thin solid white;
  opacity: 0.7;
  margin-left: 1px;
  margin-right: 2px;
}

body {
  color: white;
  background-color: #09121E;
  height: 100%;
  overflow: hidden;
}

.body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.row {
  display: flex;
  flex: 1;
}

.hearts {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.heart {
  box-sizing: border-box;
  border: thin solid;
  border-color: red;
  animation: popin 0.3s;
  transition: color 0.3s;
  flex: 1;
  margin-right: 2px;
}

.heart.silver-border {
  border-color: silver;
}

.heart.gold-border {
  border-color: gold;
}

.heart.red {
  background-color: red;
}

.heart.silver {
  background-color: silver;
  animation: spin 0.3s;
}

.heart.gold {
  background-color: gold;
}

.value {
  color: white;
  min-width: 4em;
  text-align: right;
}

.item {
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.item.sub {
  text-align: right;
}

label {
  font-weight: bold;
  font-size: 0.8em;
  padding: 0 1em;
  width: 5em;
}

.bar-container {
  position: relative;
  flex: 1;
  height: 1em;
}

.combined-value {
  display: none;
}

.bar-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212121;
}

.bar-fill {
  position: absolute;
  left: 0;
  transform-origin: left;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  transition: transform 0.5s ease,
    background-color 0.5s ease
  ;
}

.graphic {
  display: flex;
  flex: 1;
}

.spacer {
  flex: 1;
}

.trinket {
  display: flex;
}

.splitbar {
  flex: 1;
}

.Normal .bar-bg { background-color: #210000; }
.Normal .bar-fill { background-color: #fa2121; }
.Piercing .bar-bg { background-color: #212100; }
.Piercing .bar-fill { background-color: #fafa21; }
.Elemental .bar-bg { background-color: #002100; }
.Elemental .bar-fill { background-color: #21fa21; }
.Shadow .bar-bg { background-color: #210048; }
.Shadow .bar-fill { background-color: #8221fa; }

.pip {
  margin-right: 2px;
  box-sizing: border-box;
  background-color: #fafafa;
  flex: 1;
  max-width: 0.5em;
  animation: popin 0.3s;
  transition: filter 0.3s;
}

.negative {
  flex-direction: row-reverse;
  opacity: 0.5;
}

.Fire .pip { background-color: #fa8221; }
.Freeze .pip { background-color: #fafafa; }
.Shock .pip { background-color: #8282fa; }
.Poison .pip { background-color: #218221; }
.Stun .pip { background-color: #fafa82; }
.Curse .pip { background-color: #822182; }
.Sleep .pip { background-color: #82fafa; }
.pip.highlight {
  transform: scale(1.2);
  filter: brightness(150%);
}

.status-blurb {
  text-align: center;
}

.status-blurb .status {
  font-weight: bold;
}

.status-blurb .chance {
  color: white;
  padding: 0.5em;
}

.status-blurb .strength {
  color: white;
  padding: 0.5em;
}

.status.Fire { color: #fa8221; }
.status.Freeze { color: #fafafa; }
.status.Shock { color: #8282fa; }
.status.Poison { color: #218221; }
.status.Stun { color: #fafa82; }
.status.Curse { color: #822182; }

.weapon.slot {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.tabs {
  display: flex;
  font-weight: bold;
}

.state-tabs {
  width: 100%;
  border-bottom: thin solid rgba(255, 255, 255, 0.7);
}

.tab {
  text-align: center;
  padding: 1em;
  cursor: pointer;
  transition: transform 0.5s;
  color: white;
  background-color: #273945;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab.You {
  flex: 1;
  transform-origin: right;
}

.tab.Opponent {
  flex: 1;
  transform-origin: left;
}

.tab:hover {
  transform: scale(1.12);
  border-bottom: medium solid rgba(255, 255, 255, 0.7);
}

.tab.selected {
  border-bottom: medium solid white;
}

h1,
h2,
h3 {
  color: #FFC134;
}

select {
  color: white;
  background-color: #1C252B;
}

.button {
  color: #A4F7ED;
  background-color: #00547E;
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 0.5em;
  border: thin solid #3B68A7;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  filter: brightness(150%);
  transition: filter 0.3s;
}

label.button {
  margin-right: 1em;
  box-sizing: border-box;
}

@media (max-width: 799px) {
  .bar-container,
  .hearts,
  .graphic.pips {
    display: none;
  }
  .value {
    min-width: 0;
  }
  .row,
  .graphic {
    justify-content: flex-end;
  }
  .split-value {
    display: none;
  }
  .combined-value {
    display: initial;
  }
  .knight-form,
  .knight-stats {
    flex: 2;
  }
  .knight-form, .knight-stats, .events {
    margin: 0;
  }
  .events {
    flex: 2;
  }
}

.event {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attack-flow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Right .attack-flow {
  flex-direction: row-reverse;
}

@media (max-width: 639px) {
  .knight-form {
    min-width: 240px;
  }
  .item {
    flex-direction: column;
  }
  .Vs.main {
    flex-direction: column;
  }
  .events {
    border-top: thin solid rgba(255, 255, 255, 0.7);
    border-bottom: thin solid rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 379px) {
  .main {
    flex-direction: column;
  }
  .Opponent.main {
    flex-direction: column-reverse;
  }
}
